body {
  background-color: black;
}

h1 {
  color: white;
}

.literally {
  margin: auto;
  width: 100%;
}

.literally canvas {
  cursor: default;
  width: 100%;
  height: 350px;
  background-color: blue;
}
