.literally {
  margin: auto;
  width: 100%;
  background-color: rgb(255, 255, 255);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.literally canvas {
  cursor: default;
  width: 100%;
  height: 350px;
  background-color: blue;
}

/* toolbar structure */

.literally .toolbar {
  width: 100%;
  margin-top: -5px;
}
.literally .toolbar-row {
  background-color: rgb(220, 220, 220);
  width: 100%;
}

.literally .toolbar-row-left,
.literally .toolbar-row-right {
}

.literally .toolbar-row-left {
  float: left;
}

.literally .toolbar-row-right {
  float: right;
}

/* action/tool buttons */

.literally .toolbar .action-buttons .clear-button {
  margin-right: 15px;
}

.literally .toolbar .action-buttons,
.literally .toolbar .zoom-buttons,
.literally .toolbar .tool-options,
.literally .toolbar .tools {
  line-height: 38px;
  margin-left: 5px;
}

.literally .toolbar .tools {
  float: left;
}

.literally .toolbar .action-buttons,
.literally .toolbar .zoom-buttons {
  margin-right: 5px;
}

.literally .toolbar .zoom-buttons .zoom-display {
  width: 20px;
}

.tool-options-container {
  float: left;
}

/* color palette */

.literally .color-square {
  cursor: pointer;
  width: 28px;
  height: 28px;
  margin: 5px 0px;
  margin-left: 5px;
  float: left;
  border: 1px solid rgb(150, 150, 150);
  border-left: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.literally .color-square.empty-color-square {
  line-height: 26px;
  text-align: center;
}
