h1, h2 {
  text-align: center;
  font-family: 'Finger Paint', cursive;
  font-weight: normal;
}

h1.title {
  line-height: 60px;
}

p {
  text-indent: 4em;
}

.nav-list {
  text-align: right;
}

.title-literally {
  margin-right: 10px;
  color: red;
}

.title-canvas {
}

.literally {
  width: 100%;
  height: 240px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 1em;
}

.demo .literally canvas {
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}

.demo .literally .toolbar {
  -webkit-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
}

.demo .literally .tool-options-container input {
  width: 70px;
}

.example-link, .github, .downloads {
  margin-bottom: 1em;
}

.alert {
  text-align: center;
}

.share-to-imgur {
  display: inline-block;
}
