/* example */

body {
  background-color: black;
}

h1 {
  color: white;
}

.log {
  color: red;
  font-family: Monaco;
}

/* component */

.literally {
  margin: auto;
  width: 100%;
  background-color: rgb(255, 255, 255);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.literally canvas {
  cursor: default;
  width: 100%;
  height: 400px;
  background-color: blue;
}

.literally .toolbar {
  width: 100%;
  margin-top: -5px;
  height: 38px;
  background-color: rgb(220, 220, 220);
}

.literally .toolbar .colors {
  display: inline-block;
}

.literally .color-square {
  cursor: pointer;
  width: 28px;
  height: 28px;
  margin: 5px;
  margin-right: 0;
  display: inline-block;
}

.literally .color-square:last-child {
  margin-left: 0;
}

.literally .color-pickers {
  float: left;
}

.literally .toolbar .action-buttons,
.literally .toolbar .zoom-buttons,
.literally .toolbar .tools {
  line-height: 38px;
  margin-left: 5px;
}

.literally .toolbar .action-buttons,
.literally .toolbar .tools {
  float: left;
}

.literally .toolbar .zoom-buttons {
  float: right;
  margin-right: 5px;
}

.literally .toolbar .zoom-buttons .zoom-display {
  display: inline;
}
