/* example */

body {
  background-color: black;
}

h1 {
  color: white;
}

.log {
  color: red;
  font-family: Monaco;
}

/* component */

.literally {
  margin: auto;
  width: 100%;
  background-color: rgb(255, 255, 255);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.literally canvas {
  cursor: default;
  width: 100%;
  height: 350px;
  background-color: blue;
}

/* toolbar structure */

.literally .toolbar {
  width: 100%;
  margin-top: -5px;
}
.literally .toolbar-row {
  background-color: rgb(220, 220, 220);
  width: 100%;
}

.literally .toolbar-row-left,
.literally .toolbar-row-right {
  margin-bottom: -5px;
}

.literally .toolbar-row-left {
  float: left;
}

.literally .toolbar-row-right {
  float: right;
}

/* action/tool buttons */

.literally .toolbar .action-buttons .clear-button {
  margin-right: 15px;
}

.literally .toolbar .action-buttons,
.literally .toolbar .zoom-buttons,
.literally .toolbar .tools {
  line-height: 38px;
  margin-left: 5px;
}

.literally .toolbar .action-buttons,
.literally .toolbar .zoom-buttons {
  margin-right: 5px;
}

.literally .toolbar .zoom-buttons .zoom-display {
  display: inline;
}

/* color palette */

.literally .color-pickers {
  display: inline-block;
}

.literally .color-palette {
  display: inline-block;
  margin-left: 10px;
}

/* color squares */

.literally .color-square {
  cursor: pointer;
  width: 26px;
  height: 26px;
  margin: 5px 0px;
  float: left;
  border: 1px solid rgb(150, 150, 150);
  border-left: none;
}

.literally .color-square:first-child {
  margin-left: 5px;
  border-left: 1px solid rgb(150, 150, 150);
  -webkit-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
}

.literally .color-square:last-child {
  -webkit-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
}

.literally .color-square:first-child:last-child {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.literally .color-square.empty-color-square {
  line-height: 26px;
  text-align: center;
}
