$basicBorder: 1px solid #555;

$pickerWidth: 61px;
$pickerButtonSize: 30px;
$optionsHeight: 55px;

$canvasBackground: #ddd;
$toolbarBackground: rgb(230, 230, 230);

@mixin button-style-1 {
  $selected: lighten(#3cb0fd, 20%);

  border: 2px solid transparent;
  border-radius: 3px;

  & {
    text-decoration: none;
    cursor: pointer;
  }

  &.selected:not(.disabled) {
    background-color: $selected;
  }
  &:hover:not(.disabled) {
    border: 2px solid $selected;
  }
  &:active:not(.disabled) {
  }
  &.disabled {
    cursor: default;
    opacity: 0.3;
  }
}

.literally {
  position: relative;
  background-color: $canvasBackground;
  min-height: 400px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  user-select: none;

  &, & * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  & > * {
    position: absolute;
  }

  .lc-picker {
    top: 0; left: 0; bottom: 0; width: $pickerWidth;
    background-color: $toolbarBackground;
  }

  .lc-drawing {
    top: 0; right: 0; bottom: $optionsHeight; left: $pickerWidth;
    cursor: default;

    & > * {
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
    }

    .text-tool-input {
      &:focus {
        outline: none;
      }
    }
  }

  .lc-options {
    right: 0; bottom: 0; left: $pickerWidth; height: $optionsHeight;
    background-color: $toolbarBackground;
  }
}

.literally .lc-picker {
  z-index: 2;
  border-right: $basicBorder;

  $buttonMargin: 2px;
  $buttonActualSize: $pickerButtonSize - $buttonMargin * 2;

  .toolbar-button {
    width: $buttonActualSize;
    height: $buttonActualSize;
    line-height: $buttonActualSize;
    margin: $buttonMargin;
    padding: 0;
    cursor: pointer;
    text-align: center;

    @include button-style-1;
  }

  .thin-button {
    cursor: pointer;
    float: left;
    position: relative;
  }

  .fat-button {
    clear: both;
    width: $pickerWidth - 1 - $buttonMargin * 2;
  }


  .lc-pick-tool, .lc-undo, .lc-redo, .lc-zoom-in, .lc-zoom-out {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.literally .lc-picker {
  .color-well-label {
    padding-bottom: 4px;
    font-size: 10px;
    line-height: 1.2em;
    height: auto;

    label {
      margin-bottom: 2px;
    }

    &:first-child {
      margin-top: 10px;
    }
  }

  .color-well-container {
    position: relative;
    z-index: 2;
    width: $pickerButtonSize;
    height: $pickerButtonSize;
    border: $basicBorder;
    clear: both;
    margin: auto;
    overflow: visible;

    .color-well-checker {
      position: absolute;
      width: 50%;
      height: 50%;
      background-color: black;
    }

    .color-well-color {
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
    }
  }

  .color-picker-popup {
    position: absolute;
    z-index: 1;
    left: $pickerWidth * 0.65;
    bottom: -30px;
    background-color: white;
    border: $basicBorder;

    .color-row {
      clear: both;

      .color-cell {
        cursor: pointer;
        width: 20px;
        height: 20px;
        line-height: 20px;
        float: left;

        &:hover, &.selected {
          border: $basicBorder;
          line-height: 18px;
        }

        &.transparent-cell {
          width: 100%;
        }
      }
    }
  }
}

.literally .lc-options {
  z-index: 1;
  border-top: $basicBorder;

  .basic-button {
    border: $basicBorder;
    @include button-style-1;
    margin: 0 0 5px 0;
    padding: 5px 5px 4px 5px;
  }

  .square-button {
    border: $basicBorder;
    @include button-style-1;
    margin: 0 0 5px 0;
    padding: 5px 5px 4px 5px;
    width: 44px;
    height: 44px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .button-row {
    margin: 0;
    padding: 0;

    li {
      height: $optionsHeight - 1px;
      padding: 0 0 0 10px;
      list-style-type: none;
      display: table-cell;
      text-align: center;
      vertical-align: bottom;

      &:first-child {
        padding-left: 6px;
      }
    }
  }

  .lc-font-settings {
    height: $optionsHeight;
    line-height: $optionsHeight;
    padding-left: 4px;
    background-color: #f5f5f5;

    input {
      margin: 0 0.5em 0 0;

      &[type=checkbox] {
        margin: 0 0.5em 0 0.5em;
      }
    }
  }
}