<!doctype html>
<html>
  <head>
    <title>Literally Canvas</title>
    <link href="css/bootstrap-custom.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <link href="lib/css/colorpicker.css" rel="stylesheet">
    <link href="lib/css/literally.css" rel="stylesheet">

    <!-- only needed for buttons and icons -->
    <link href="lib/css/bootstrap-components.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Finger+Paint'
      rel='stylesheet' type='text/css'>

    <!-- pygments CSS -->
    <style type="text/css">{{ pygments_css }}</style>
  </head>

  <body>
    <div class="container">

      <a name="demo"></a>
      <h1 class="title">
        <span class="title-literally">Literally</span>
        <span class="title-canvas">&ldquo;Canvas&rdquo;</span>
      </h1>

      <div class="row">
        <div class="span3">
          <ul class="nav nav-list">
            <li><a href="#demo">Demo</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#usage">Usage</a></li>
            <li><a href="#supported-browsers">Supported Browsers</a></li>
            <li><a href="#options">Options</a></li>
            <li><a href="#contributing">Contributing</a></li>
          </ul>
        </div>

        <div class="span6">

          <div class="demo">
            <div class="literally"><canvas></canvas></div>
            <div class="share-to-imgur">
              <button>Share to Imgur</button>
              <span class="imgur-url">&nbsp;</span>
            </div>
          </div>

        </div>

        <div class="span3">
          <div class="example-link">
            <a href="example.html">Fullscreen demo &gt;&gt;</a>
          </div>
          <div class="github">
            <a href="http://github.com/irskep/literallycanvas">
              Fork me on Github &gt;&gt;
            </a>
          </div>

          <div class="downloads">
            <strong>Without</strong> jQuery and Underscore.js:<br>
            <a href="https://raw.github.com/irskep/literallycanvas/master/lib/js/literallycanvas.thin.js">
              Unminified
            </a><br>
            <a href="https://raw.github.com/irskep/literallycanvas/master/lib/js/literallycanvas.thin.min.js">
              Minified
            </a>
          </div>

          <div class="downloads">
            <strong>With</strong> jQuery and Underscore.js:<br>
            <a href="https://raw.github.com/irskep/literallycanvas/master/lib/js/literallycanvas.fat.js">
              Unminified
            </a><br>
            <a href="https://raw.github.com/irskep/literallycanvas/master/lib/js/literallycanvas.fat.min.js">
              Minified
            </a>
          </div>
        </div>
      </div>

      <hr><a name="about"></a>
      <div class="row">
        <div class="span6 offset3">
          <h2>About</h2>

          <p>
            Literally Canvas is an extensible, BSD-licensed, HTML5 drawing
            widget that currently supports a minimal set of drawing operations.
            You can draw, erase, set the color with the eyedropper, undo, redo,
            pan, and zoom.
          </p>

          <p>
            The project will always depend on
            <a href="http://jquery.com/">jQuery</a> and
            <a href="http://underscorejs.org/">Underscore.js</a>. At the moment,
            it also depends on a small subset of
            <a href="http://twitter.github.com/bootstrap">Twitter Bootstrap</a>
            which is being phased out.
          </p>
        </div>
      </div>

      <hr><a name="usage"></a>
      <div class="row">
        <div class="span6 offset3">
          <h2>Usage</h2>
          {{ "code_samples/simple.html" | code }}
          {{ "code_samples/simple.js" | code }}
          {{ "code_samples/options.js" | code }}
        </div>
      </div>

      <hr><a name="supported-browsers"></a>
      <div class="row">
        <div class="span6 offset3">
          <h2>Supported Browsers</h2>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Browser</th>
                <th>Support</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>Chrome</td><td>Awesome (this is where we test)</td></tr>
              <tr><td>Safari</td><td>Awesome</td></tr>
              <tr><td>iOS</td><td>Awesome</td></tr>
              <tr>
                <td>Firefox</td>
                <td>
                  All works except changing brush size because we're using
                  <tt>&lt;input type="range"&gt;</tt>
                </td>
              </tr>

              <tr><td>Android</td><td>???</td></tr>
              <tr><td>IE 10</td><td>???</td></tr>
              <tr><td>IE 9</td><td>Probably doesn't work</td></tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr><a name="options"></a>
      <div class="row">
        <div class="span6 offset3">
          <h2>Options</h2>

          <h4><tt>backgroundColor</tt></h4>
          CSS color value of the initial background. Default <tt>rgb(230, 230,
            230)</tt>.

          <h4><tt>keyboardShortcuts</tt></h4>
          If <tt>true</tt>, bind keyboard shortcuts. Currently only implements
          panning with the arrow keys. Default <tt>true</tt>.

          <h4><tt>sizeToContainer</tt></h4>
          If <tt>true</tt>, resize the <tt>&lt;canvas&gt;</tt> element to fit
          the height of its containing <tt>&lt;div class="literally"&gt;</tt>
          element. The alternative is <tt>false</tt>, which will not resize the 
          <tt>&lt;canvas&gt;</tt> element at all. Default <tt>false</tt>.

          <h4><tt>toolClasses</tt></h4>
          List of tool classes to use. Unless you're writing your own tool, you
          probably don't need to change this setting. Includes all tools by
          default.
        </div>
      </div>

      <hr><a name="future"></a>
      <div class="row">
        <div class="span6 offset3">

          <h2>Short Term</h2>
          <ul>
            <li>A better, smaller color picker</li>
            <li>Performance improvements</li>
            <li>PNG export callback with Imgur demo</li>
          </ul>

          <h2>Long Term</h2>
          <ul>
            <li>Brush API</li>
            <li>Nicer-looking brushes</li>
            <li>Interactive tools (text, shapes)</li>
          </ul>

        </div>
      </div>

      <hr><a name="contributing"></a>
      <div class="row">
        <div class="span6 offset3">

          <h2>Contributing</h2>
          <p>
            We would be excited to see contributions of any form. New brushes,
            optimizations, feature requests, use cases, designs, bug reports
            &ndash; you name it, we want it! Just head on over to <a
              href="http://github.com/irskep/literallycanvas">
              github.com/irskep/literallycanvas</a> and get started.
          </p>

          <p>
            One particular area where we'd like some help is in styling the
            toolbar. If glitzy CSS-based UI is your thing, we'd love to hear
            your suggestions or merge your pull requests.
          </p>

        </div>
      </div>

    </div>

    <script src="lib/js/literallycanvas.fat.js"></script>
    <script src="js/docs.js"></script>
  </body>
</html>
